<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
     <services>
        <service name="WcfTodoListService.ToDoListRestAPIService" behaviorConfiguration="serviceBehavior">
                <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8000/"/>
                  </baseAddresses>
                </host>
          <!--"http://localhost:8000/serviceBehavior"-->
                <endpoint address="../ToDoListRestAPIService.svc"
                          
                          binding="webHttpBinding"
                          contract="WcfTodoListService.IToDoListRestAPIService"
                          behaviorConfiguration="web">
                </endpoint>
          </service>     
   </services>  
    <bindings>
        <webHttpBinding>
           <clear />
          <binding name="webHttpBinding" maxReceivedMessageSize="2147483647"
         maxBufferSize="2147483647" transferMode="Streamed" sendTimeout="01:00:00" receiveTimeout="01:00:00" closeTimeout="01:00:00" >
               <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                    maxNameTableCharCount="2147483647"/>
            </binding>
        </webHttpBinding>
     </bindings>
    <behaviors>      
       <serviceBehaviors>
              <behavior name="serviceBehavior">
                  <serviceMetadata httpGetEnabled="true"/>
                  <serviceDebug includeExceptionDetailInFaults="false"/>
            </behavior>
          </serviceBehaviors>
          <endpointBehaviors>
              <behavior name="web">
                    <webHttp/>
               </behavior>
          </endpointBehaviors>
      <!--<serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>-->
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
